.container{
    width: 400px;
    height: 450px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.userActionButtons{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 20px;
    color: #fff;
}

.userActionButtons > * {
    cursor: pointer;
}

.creatorDetails{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    color: #fff;
    gap: 15px;
}

.socialMediaLinks{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.socialMediaLinks a{
    text-decoration: none;
    color: #fff;
}

.socialMediaLinks > *{
    cursor: pointer;
}

.creatorDescription{
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
}

.creatorName {
    font-size: 30px;
    margin-bottom: 0;
}