.landingSection{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.userActionBtns{
    display: flex;
    flex-direction: row;
    gap: var(--gap-1);
}

.heroText{
    font-size: var(--font-size-lg)
}

.navbar{
    padding-left: 20px;
    padding-right: 20px;
}

.navbar ul li{
    font-size: 12px;
    text-decoration: none;
}

.navbar ul li:hover{
    cursor: pointer;
}

.navbar span{
    display: flex;
    align-items: center;
    font-size: 15px;
    background: linear-gradient(90deg, #ffffff 0%, #8560E6 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

.globe{
    position: absolute;
}