.curtain{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #000;
    z-index: 99;
}

.arrowWrapper{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.arrowWrapper > *{
    position: absolute;
    transform: scale(1.4) translateX(-100%);
}

.landingSection{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.userActionBtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-1);
    flex-wrap: wrap;
}

.heroText{
    font-size: var(--font-size-lg);
}

.navbar{
    padding-left: 20px;
    padding-right: 20px;
}

.navbar ul li{
    font-size: 12px;
    text-decoration: none;
}

.navbar ul li:hover{
    cursor: pointer;
}

.navbar span{
    display: flex;
    align-items: center;
    font-size: 15px;
    background: linear-gradient(90deg, #ffffff 0%, #8560E6 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

.globe{
    position: absolute;
}

.char{
    display: inline-block;
}



@media (max-width: 576px) {

    .heroText{
        font-size: 40px;
    }

}
