.wrapper{
    position: absolute;
    display: flex;
    gap: 20px;
    align-items: center;
    color: #fff;
    padding: 10px;
}

.danger{
    background-color: var(--danger-color);
}

.primary{
    background-color: var(--primary-color);
}